/*.transition {
    transition:.2s ease-in-out;
    background-color: #000;
}
.transition:hover {
    transform: scale(1.1);
}*/

.domingo {
  background-image: url('../image/portada.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  /* filter:brightness(0.4);
  background-color: rgba(0,0,0,0.8); */
  height: 100vh;
}

.size {
  width: 250px;
}

.text-orange {
  color: #c5819a;
  background-color: white;
  padding: 5px;
  display: inline-block;
}

.profession {
  background-color: black;
  padding: 5px;
  display: inline-block;
}


.text-colour {
  color: #c5819a;
  padding-bottom: 20px;
}

.paragraph {
  font-size: 1.3em;
  color: #868686;
  line-height: 1.7;
  font-family: 'Muli', sans-serif;
}

.content-h {
  padding: 70px 20px;
}  
  

.lobster-cursiva {
  font-family: 'Lobster', cursive;
}

.letter-thing {
  font-family: 'Arapey', serif;
}

.color-lila-strong {
  color: rgb(197, 129, 154);
}

.button-cv {
  margin-top: 50px;
  color: #44454f;
  font-size: 1.2em;
  border-bottom: 2px solid aqua;
  display: inline-block;
}

.button-cv:hover {
  color: rgb(197, 129, 154);
  cursor: pointer;
}



.description {
  color: #868686;
  font-family: 'Muli', sans-serif;
  text-align: left;
  line-height: 1.5;
  margin: 15px;
}

.title {
  color: #fff;
  font-family: 'Arapey', serif;
  margin-bottom: 50px;
  border-bottom: 2px solid aqua;
  display: inline-block;
  line-height: 2;
}

.img-tools {
  width: 120px;
}

.container-inf-img {
  margin-top: 40px;
}

.container-sup-img {
  margin-top: 40px;
}

.height-content {
  margin: 90px 0px;
}

.btoon {
  border: 2px solid aqua !important;
  color: #44454f;
  font-size: 1.3em;
  font-family: 'Arapey', serif;
  font-weight: 700;
}



.bg-purple {
  background-color: #edd7df;
}


.bg-image {
    height: 90vh;
    margin-top: 10%;
    padding: 5%;
    position: relative;
}

.logo-wen {
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
}

.text-white {
  color: #fff;
}

.color-gray {
  color: #868686;
}

ul {
  transform: translateY(12%);
}


.icon-bar {
  background-color: #fff;
  height: 4px !important;
  margin-top: 2px !important;
}

.max-vh {
  height: 95vh;
}


.box {
  padding: 50px 0px;
}


.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.strong {
  font-weight: 700;
}

.bg-h1 {
  transform: translateY(120%);
}

.size2 {
  width: 50px;
}

.herramientas {
  /* font-family: 'Arapey', serif; */
  margin-bottom: 50px;
  /* border-bottom: 2px solid aqua;
  display: inline-block; */
}

.style {
  padding-top: 40px;
}

section-contact {
  height: 90vh;
}


footer p {
  background-color: #868686;
  color: white;
  height: 50px;
  font-size: 1.2em;
  padding-top: 15px;
  margin: 0px;
}

.space-left {
  padding-left: 80px;
}

@media (max-width: 600px) {
  .space-left {
    padding-left: 50px;
  }
}

.color-contactme {
  font-size: 1.3em;
  color: #868686 !important;
  line-height: 1.7;
}